language: node_js

branches:
  only:
  - master
  - /^greenkeeper/

node_js:
  - 8

services:
  - mongodb

script:
  - yarn test

after_success:
  - yarn coveralls

cache:
  yarn: true
  directories:
    - node_modules
